.sidebar{
    flex: 2.75;
    height: calc(100vh - 50px);
    background-color: white;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color:#e7eca3;
    
}
::-webkit-scrollbar-thumb{
    background-color: 	#585b568f;
    width: 12px;
}
.sidebarWrapper{
    padding: 20px;

}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;

}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    width: 25%;
    font-size: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    background-color: #8e7cc3;
    color: white;
    cursor: pointer;
}

.sidebarButton:hover{
    background-color: #e7eca3;
    color: black;
}

.sidebarHr{
    margin: 20px 0;
}

.friendListTitle{
    margin-bottom: 10px;
    color: #8e7cc3;
    font-size: 28px;
    font-weight: 600;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

